{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/globals.css",
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true,
  "semi": false,
  "singleQuote": true
}
