name: ci

on:
  - pull_request

jobs:
  ci:
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 10
    strategy:
      matrix:
        runner: [ubuntu-latest]
        node: [22.20.0]
    name: build on node ${{ matrix.node }} ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: npm ci
        run: npm ci
      - name: eslint
        run: npm run lint
      - name: build
        run: npm run build
